.candidate-home {
    .show-hide {
        border: none;
        background-color: #f2f2f2;
    }

    /* Default background color for icons */
    .social-icon span {
        background-color: #7b858f;
        color: #000;
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* LinkedIn hover effect */
    .social-icon:nth-child(1) span:hover {
        background-color: #0077b5;
        /* LinkedIn blue */
        color: white;
    }

    /* Twitter hover effect */
    .social-icon:nth-child(2) span:hover {
        background-color: #1da1f2;
        /* Twitter blue */
        color: white;
    }

    /* Facebook hover effect */
    .social-icon:nth-child(3) span:hover {
        background-color: #3b5998;
        /* Facebook blue */
        color: white;
    }

    /* YouTube hover effect */
    .social-icon:nth-child(4) span:hover {
        background-color: #ff0000;
        /* YouTube red */
        color: white;
    }

    /* Discord hover effect */
    .social-icon:nth-child(5) span:hover {
        background-color: #7289da;
        /* Discord blue */
        color: white;
    }

    /* Optional: Adjust icon sizes */
    .social-icon i {
        font-size: 1.25rem;
    }
}